@import "node_modules/nomad-universal/lib/styles/variable";

.new-post {

  .content {
    padding: .5rem 1rem;

    .markdown-editor {
      border: 0;

      &__content {
        margin-left: 3.25rem;
      }
    }
  }
}
