@import "../../variables";

.post {
  padding: .5rem 1rem;
  border-bottom: 1px solid $menu-border-gray;

  &__name {
    flex: 0 0 auto;
    font-size: .875rem;
    color: #000;
    font-weight: 600;
    line-height: 1.25rem;
  }

  &__from-now {
    flex: 1 1 auto;
    font-size: .8125rem;
    line-height: 1rem;
    text-align: right;
    color: darken($light-text-gray, 10);
    padding-right: .25rem;
    font-weight: 300;
  }

  &__content {
    @extend %col-nowrap;
    padding: 1rem 0;
    word-wrap: break-word;
    font-weight: 400;

    .DraftEditor-root {
      margin-bottom: .5rem;
    }
  }

  div.DraftEditor-root {
    @extend %rte;
  }

  &__title {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
  }

  &__bottom {
    @extend %row-nowrap;
    font-size: .75rem;
    margin-top: .5rem;
  }

  &__bottom-right {
    flex: 1 1 auto;
    justify-content: flex-end;
    padding-right: .5rem;
    @extend %row-nowrap;
    display: none;

    .post-button {
      margin-left: .75rem;
    }
  }

  &__action-btn {
    margin-left: .25rem;
    cursor: pointer;
    outline: none;
    padding: 0 .25rem;

    &--menuable {
      margin-left: .25rem;
    }

    &:nth-of-type(1) {
      margin-left: 0;
    }

    .icon {
      //transition: filter 100ms ease-out;
    }

    .post-button {

      &__text {
        position: relative;
        font-family: 'Roboto', sans-serif;
        //transition: color 100ms ease-out;
      }
    }

    &--hoverable {
      outline: none;
      &:hover {
        //.icon {
        //  filter: brightness(50%);
        //}

        .post-button {

          &__text {
            color: darken($menu-btn-border, 50);
          }
        }
      }

      &:active {
        //.icon {
        //  filter: brightness(25%);
        //}

        .post-button {
          &__text {
            color: darken($menu-btn-border, 75);
          }
        }
      }
    }

    &--disabled {
      cursor: default;
    }

  }

  &__preview {
    max-width: 36rem;
    margin-top: .25rem;

    img {
      max-height: 35vh;
      object-fit: contain;
      background-color: black;
    }

    iframe {
      width: 36rem;
      height: 20.25rem;
      border: 0;
      outline: 0;
      margin: 0;
      padding: 0;
    }

    .preview {
      &__video-player {
        width: 36rem !important;
        height: 20.25rem !important;
      }

      &__footer {
        .icon {
          opacity: .25 !important;
          //transition: 100ms ease-in-out;

          &:active {
            opacity: .5 !important;
          }
        }
      }
    }
  }

  &__reply-editor {
    //margin-top: .5rem;
    &__actions {
      @extend %row-nowrap;
    }
  }

  &__no-user-container {
    position: absolute;
    @extend %col-nowrap;
    display: inline-flex;
    height: 0;
    user-select: none;
    overflow: hidden;
    transition: height 50ms linear;
    width: 100%;

    &--replying {
      position: relative;
      height: 6rem;
    }
  }

  &__reply-editor-container {
    @extend %col-nowrap;
    height: 0;
    overflow: hidden;
    transition: height 50ms ease-in-out;

    &--replying {
      height: 9rem;
      margin-left: 3.5rem;
    }
  }

  &__no-user {
    position: absolute;
    top: 0;
    left: 0;
    flex: 0 0 auto;
    @extend %row-nowrap;
    display: inline-flex;
    align-items: center;
    padding: .5rem 1rem;
    margin: 1.5rem 0 .5rem;
    border: 1px solid $menu-border-gray;
    border-radius: 4px;
    color: $dark-text-gray;
    font-size: .875rem;
  }

  &__no-user-btn {
    margin-left: 2rem;
    font-size: .8125rem;
    padding: 0 1rem;
    height: 1.8125rem;
    font-weight: 400;

    &:active {
      font-weight: 400 !important;
    }
  }
}
