@import "../../variables";

#sys-message-root {
  @extend %col-nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  width: 20rem;
  margin: 0 auto;
  transition: transform 100ms ease-in, opacity 200ms linear;
  opacity: 1;

  &:empty {
    transform: translateY(-4rem);
    opacity: 0;
  }
}

.system-message {
  position: relative;
  margin: 0 auto .75rem;
  padding: .5rem 1.5rem .5rem .75rem;
  font-size: .8125rem;
  line-height: 1rem;
  box-shadow: 0 2px 2px 0 rgba(#000, .1);
  background-color: $menu-bg-gray;
  color: $dark-text-gray;
  border-radius: .125rem;
  border-left: 2px solid $dark-text-gray;

  &__close-icon {
    position: absolute;
    top: .625rem;
    right: .5rem;
    width: .75rem !important;
    height: .75rem !important;
    padding: 0;
    margin: 0;
    background-color: transparent !important;
    opacity: .5;
    transition: opacity 50ms ease-out;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .7;
    }
  }

  &--error {
    background-color: $error-bg-red;
    border-left: 2px solid $error-text-red;
    color: $error-text-red;
  }

  &--success {
    background-color: $success-bg-green;
    border-left: 2px solid $success-text-green;
    color: $success-text-green;
  }
}
