@import "../../variables";

.icon {
  @extend %row-nowrap;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &__text {
    @extend %row-nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $pure-white;
    font-weight: 400;
    height: 80%;
    width: 80%;
    background-color: rgba(#000, .05);
    border-radius: 50%;
  }

  &--disabled {
    opacity: .5;
    cursor: default;
  }
}

button.icon {
  border: none;
  outline: none;
}
