@import "../universal/styles/variable";

.setting {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 12rem auto;
  grid-auto-rows: auto;
  background-color: $gray-50;
  user-select: none;

  //.header {
  //  grid-column-start: 1;
  //  grid-column-end: 3;
  //  grid-row-start: 1;
  //  grid-row-end: 2;
  //}

  &__nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__group {
    margin: .5rem .5rem 0 .5rem;

    &__title {
      @extend %small-font;
      @extend %bold;
      padding: .5rem;
    }

    &__content {
      @extend %col-nowrap;

      &__row {
        @extend %row-nowrap;
        max-width: 58rem;
        align-items: center;
        padding: .5rem 1.25rem .5rem .5rem;
        color: $dark-primary-text;

        &__label {
          @extend %col-nowrap;
          @extend %small-font;
          position: relative;
          flex: 1 0 13.5rem;

          &__sub {
            @extend %tiny-font;
            @extend %strong;
            //top: 1.25rem;
            //position: absolute;
            color: $gray-400;
          }
        }

        &__value {
          @extend %row-nowrap;
          align-self: flex-start;
          justify-content: flex-end;
          flex: 1 1 auto;
          width: 100%;
          @extend %lite-font;
          @extend %strong;
          font-family: "Roboto Mono", monospace;
          user-select: text;

          input[type=text] {
            text-align: right;
            padding: .25rem .5rem;
            flex: 1 1 auto;
            overflow-x: hidden;
          }

          button + button {
            margin-left: .5rem;
          }

        }
      }
    }
  }

  input {
    @extend %lite-font;
    color: $dark-primary-text;
  }
}

.setting__nav {
  @extend %col-nowrap;
  background-color: $gray-25;
  border-right: 1px solid $gray-100;
  //padding: .25rem 0;

  &__row {
    @extend %lite-font;
    color: $dark-primary-text;
    padding: .25rem .75rem;
    cursor: pointer;
    transition:
            background-color 100ms ease-in-out,
            color 100ms ease-in-out,
            font-weight 100ms ease-in-out;

    &:hover {
      background-color: $gray-100;
    }

    &:active {
      background-color: $gray-150;
    }

    &--active {
      @extend %strong;
      background-color: $gray-100 !important;
      cursor: default;
    }
  }
}

.setting__content {
  @extend %col-nowrap;
  overflow-y: auto;
}
