@import "../../variables";

.post-button {
  @extend %row-nowrap;
  background-color: transparent !important;
  align-items: center;
  user-select: none;
  border: 0;
  margin: 0;
  padding: .1875rem .375rem;
  cursor: pointer;
  transition: background-color 50ms ease-in-out;
  height: 1.375rem;
  border-radius: .125rem;

  .icon {
    width: 1rem !important;
    height: 1rem !important;
    opacity: .375 !important;
    transition: opacity 50ms ease-in-out;
  }

  &__text {
    //font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    color: $light-text-gray;
    padding-left: .375rem;
    transition: color 50ms ease-in-out;
  }

  &:hover {
    background-color: rgba(#000, .1) !important;
    .post-button {
      &__text {
        color: darken($light-text-gray, 25);
      }
    }
    .icon {
      opacity: .8 !important;
    }
  }

  &--blue {
    .icon {
      opacity: .75 !important;
    }
    &:hover {
      background-color: rgba($highlight-blue, .1) !important;
      .icon {
        opacity: 1 !important;
      }
    }
  }

  &--active {
    .post-button {
      &__text {
        color: darken($light-text-gray, 35);
      }
    }
    .icon {
      opacity: 1 !important;
    }
    &:hover {
      background-color: transparent !important;
      cursor: default;
      .icon {
        opacity: 1 !important;
      }
    }
  }
}
